/* You can add global styles to this file, and also import other style files */
h1{
    background-color:blue;
    color:yellow;
    border:1px ;
    border-radius:10px;
    text-align:center;
    margin:10px;
}